p {
  font-size: .8rem;
}

p.important {
  text-align: justify;
  font-weight: bold;
  color: red;
  text-justify: inter-word;
}

* {-webkit-font-smoothing: antialiased;}

div {
    display: inline-block;
}

body {
background-color: #fcfaf7;
font-family: 'Open Sans', sans-serif;
}

svg {
  background-color: #FFF;
  stroke: black;
}

.stage_text {
font-size: .9 !important;
}

.footer {
  font-size: .8rem;
  float: right;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #256cb2;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #256cb2;
  }

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  }

h4 {
  padding: 0px;
}

.tooltip {
max-width: 220px;
padding-top: 0px;
padding-left: 5px;
padding-right: 5px;
background: #ffffff;
color: #000000;
border-radius: 5px;
border: 1px solid #000;
text-align: left !important;
  }

.tt_text{
  font-size: .7rem;
}

.main {
  width: 90%;
  margin:auto;
}

/* @media screen and (max-width: 1300px) {

  .main {
    width: 90%;
    margin:auto;
  }

} */
