p {
  font-size: .8rem;
}

p.important {
  text-align: justify;
  font-weight: bold;
  color: red;
  text-justify: inter-word;
}

* {-webkit-font-smoothing: antialiased;}

div {
    display: inline-block;
}

body {
background-color: #fcfaf7;
font-family: 'Open Sans', sans-serif;
text-align:center; /* used to center div in IE */
}

#wrapper {
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    text-align:left; /*resets text alignment from body tag */
}

svg {
  background-color: #FFF;
  stroke: black;
}

.stage_text {
font-size: .9 !important;
}

.footer {
  font-size: .8rem;
  float: right;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #256cb2;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #256cb2;
  }

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  }

h4 {
  padding: 0px;
}

.tooltip {
max-width: 220px;
padding-top: 0px;
padding-left: 5px;
padding-right: 5px;
background: #ffffff;
color: #000000;
border-radius: 5px;
border: 1px solid #000;
text-align: left !important;
  }

.tt_text{
  font-size: .7rem;
}

.main {
  width: 90%;
  margin:auto;
}

/* @media screen and (max-width: 1300px) {

  .main {
    width: 90%;
    margin:auto;
  }

} */

.fyi {
  font-size: .7rem;
  font-weight: bold;
  text-align: right;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  margin-left: 25%;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
